LEVEL 1

Exercise 1:1.Import the file sprint10.xlsx as a DataFrame. Make sure that the file is imported correctly, with the corresponding column names, without manipulating the original file.

In [90]:
import pandas as pd
df = pd.read_excel(r"C:\Users\esrak\Downloads\Sprint10\sprint10.xlsx",header = 3)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional
0,Inês,Ferreira Silva,16928694K,Portugal,Lisboa,25,2,1953,D,1.144 €,NaN,1.0,Grup B
1,Clara,Sánchez Martínez,27724652S,Espanya,Barcelona,18,3,1996,D,1.253 €,1.0,NaN,Grup A
2,Fatima,Fassi,38141675A,Marroc,Rabat,6,11,2005,A,1.441 €,1.0,NaN,Grup A
3,Khadija,Bennani Bennani,59157262R,Marroc,Rabat,20,1,1995,D,1.944 €,NaN,1.0,Grup B
4,Toni,Sánchez García,69630528M,Espanya,Barcelona,9,8,1999,H,1.043 €,NaN,1.0,Grup A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Marta,Ferrer Ferrer,25161375F,Espanya,Sevilla,1,6,1951,D,1.216 €,NaN,1.0,Grup B
996,Joan,García,52145541P,Espanya,Sevilla,11,4,1959,H,971 €,NaN,1.0,Grup A
997,Laia,Ferrer Martínez,69760120X,Espanya,Barcelona,11,11,1980,D,682 €,NaN,1.0,Grup A
998,Jordi,García,82947791W,Espanya,Barcelona,23,5,1984,H,1.699 €,1.0,NaN,Grup C
999,Clara,Sánchez López,89253307W,Espanya,Bilbao,1,8,1952,D,1.217 €,NaN,1.0,Grup A

 2.Sort the DataFrame by country of origin. In case of a tie, sort by city name.
 3.Show the first 10 rows.
Additionally, make a printout where you check that the DNI only has unique values.

In [91]:
df_sorted = df.sort_values(by=["País d'origen","Ciutat"],ascending=[True, True])
df_sorted.head(10)

,Nom,Cognoms,DNI,País d'origen,Ciutat,Dia de Naixement,Mes de Naixement,Any de Naixement,Gènere,Salari mensual,Fills,No Fills,Grup Professional
21,Mia,Schneider Fischer,28973553Z,Alemanya,Berlín,22,10,1976,A,951 €,NaN,1.0,Grup A
154,Laura,Schneider Fischer,37399141L,Alemanya,Berlín,2,2,1958,D,1.769 €,1.0,NaN,Grup B
224,Lea,Schneider Schneider,37368317L,Alemanya,Berlín,23,10,2005,D,2.013 €,NaN,1.0,Grup B
278,Mia,Fischer,21390098Z,Alemanya,Berlín,11,8,1950,D,1.557 €,1.0,NaN,Grup B
602,Jonas,Schneider,44060014R,Alemanya,Berlín,22,11,1985,H,2.754 €,1.0,NaN,Grup D
871,Lea,Fischer,14773153R,Alemanya,Berlín,9,9,1986,D,1.370 €,1.0,NaN,Grup A
281,Lea,Müller,23266650S,Alemanya,Hamburg,14,4,2003,D,1.314 €,NaN,1.0,Grup A
435,Anna,Müller,83274277X,Alemanya,Hamburg,1,1,1987,D,2.464 €,NaN,1.0,Grup C
444,Laura,Schmidt Müller,60161784X,Alemanya,Hamburg,15,6,1987,NC,2.035 €,1.0,NaN,Grup C
487,Lukas,Müller Fischer,60982309S,Alemanya,Hamburg,28,3,1971,H,2.042 €,NaN,1.0,Grup B

In [92]:
unique_dni = df["DNI"].is_unique
print(f"\nAre DNI values unique? {unique_dni}")

Are DNI values unique? True

Exercise 2 : 1.Create a column that is the full name.
     2.Create a column if the person was born in Spain or not.
     3.Put the DNI as the index of the DataFrame (row names).
     4.Replace the name of the columns Day of Birth, Month of Birth and Year of Birth with Day, Month and Year.
      5.Replace H with Male, D with Female, A with Others and NC with a missing data (nan/null/na).

In [93]:
import pandas as pd
import numpy as np

df = pd.read_excel(r"C:\Users\esrak\Downloads\Sprint10\sprint10.xlsx",header = 3)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

df["Nom Complet"] = df["Nom"] + " " + df["Cognoms"]

df["Nascut a Espanya"] = df["País d'origen"].apply(lambda x : "Sí" if x == "Espanya" else "No")

df = df.set_index("DNI")

df = df.rename(columns = {
    "Dia de Naixement" : "Dia",
    "Mes de Naixement" : "Mes",
    "Any de Naixement" : "Any"
})

df["Gènere"] = df["Gènere"].replace({
    "H": "Home",
    "D": "Dona",
    "A":"Altres",
    "NC" :np.nan
})
 
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,No Fills,Grup Professional,Nom Complet,Nascut a Espanya
DNI,,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144 €,NaN,1.0,Grup B,Inês Ferreira Silva,No
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253 €,1.0,NaN,Grup A,Clara Sánchez Martínez,Sí
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441 €,1.0,NaN,Grup A,Fatima Fassi,No
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944 €,NaN,1.0,Grup B,Khadija Bennani Bennani,No
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043 €,NaN,1.0,Grup A,Toni Sánchez García,Sí
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216 €,NaN,1.0,Grup B,Marta Ferrer Ferrer,Sí
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971 €,NaN,1.0,Grup A,Joan García,Sí
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682 €,NaN,1.0,Grup A,Laia Ferrer Martínez,Sí
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699 €,1.0,NaN,Grup C,Jordi García,Sí
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217 €,NaN,1.0,Grup A,Clara Sánchez López,Sí

Exercise 3 :Combine the columns Children and No Children into a single column, using the .apply() method and defining a function that solves the problem. The new column must be called "Children" and take the values ​​"Yes" or "No".

In [94]:
def combine_fills(row):
    if row["Fills"] == 1.0:
        return "Sí" 
    elif row["No Fills"] == 1.0:
        return "No"
    else:
        return np.nan
    
df["Fills"] = df.apply(combine_fills, axis = 1)
df = df.drop(columns = ["No Fills"])
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,Grup Professional,Nom Complet,Nascut a Espanya
DNI,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1.144 €,No,Grup B,Inês Ferreira Silva,No
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1.253 €,Sí,Grup A,Clara Sánchez Martínez,Sí
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1.441 €,Sí,Grup A,Fatima Fassi,No
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1.944 €,No,Grup B,Khadija Bennani Bennani,No
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1.043 €,No,Grup A,Toni Sánchez García,Sí
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1.216 €,No,Grup B,Marta Ferrer Ferrer,Sí
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971 €,No,Grup A,Joan García,Sí
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682 €,No,Grup A,Laia Ferrer Martínez,Sí
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1.699 €,Sí,Grup C,Jordi García,Sí
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1.217 €,No,Grup A,Clara Sánchez López,Sí

Exercise 4 :  1.Create a summary table that allows you to see the average, median, minimum and maximum salary by Gender.
    2.Sort the table based on the average salary.

In [105]:
df["Salari mensual"] = df["Salari mensual"].replace({'€': '', '\.': '', ',': '.'}, regex=True)
df["Salari mensual"] = pd.to_numeric(df["Salari mensual"], errors='coerce')

summary = (df.groupby("Gènere")["Salari mensual"]
      .agg(["mean", "median", "min", "max"])
      .rename(columns={"mean":"Mitjàna", "median":"Media", "min":"Minim", "max":"Maxim"})
)

summary.columns = pd.MultiIndex.from_product([["Salari mensual"], summary.columns])
summary = summary.sort_values(by=("Salari mensual", "Mitjàna"),ascending=False).round(2)
summary

       Salari mensual
              Mitjàna   Media Minim Maxim
Gènere
Home          1643.25  1531.0   737  3356
Altres        1626.59  1545.0   703  3175
Dona          1469.44  1361.5   665  3021

Exercise 5 :  1.Create a summary table with the average salary by gender (rows) and country of origin (columns).
2.Add the averages to the table margins.
(EXTRA): Apply conditional formatting to the table to see the highest values ​​in a more intense color

In [96]:
import pandas as pd
df["Salari mensual"] = df["Salari mensual"].replace({'€': '', '\.': '', ',': '.'}, regex=True)
df["Salari mensual"] = pd.to_numeric(df["Salari mensual"], errors='coerce')

summary1 = pd.crosstab(df["Gènere"], df["País d'origen"], df["Salari mensual"], aggfunc ="mean", margins = True, margins_name = "Salari Mitjà")

styled = summary1.style.apply(
    lambda x: ['background-color: blue' if v == x.max(skipna=True) else '' for v in x],
    axis=0
)

styled

Exercise 6 : 1.Create a new column that is the date of birth in Datetime format from the columns day, month and year. Using this column create a function that, given a date, calculates your current age as of today.
2.Use the function you just created to generate a new column in the DataFrame with the current age.

In [97]:
import pandas as pd
from datetime import datetime

df["Date de Naixament"] = pd.to_datetime( df.rename(columns = {'Any':'year','Mes':'month','Dia':'day'})[["year","month","day"]])

def calculate_age(birth_date,today = datetime.today()):
    age = today.year - birth_date.year
    # If birthday hasn't occurred yet this year, subtract 1
    if (today.month, today.day) < (birth_date.month, birth_date.day):
        age -= 1
    return age

df["Edat Actual"] = df["Date de Naixament"].apply(calculate_age)
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,Grup Professional,Nom Complet,Nascut a Espanya,Date de Naixament,Edat Actual
DNI,,,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1144,No,Grup B,Inês Ferreira Silva,No,1953-02-25,72
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1253,Sí,Grup A,Clara Sánchez Martínez,Sí,1996-03-18,29
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1441,Sí,Grup A,Fatima Fassi,No,2005-11-06,19
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1944,No,Grup B,Khadija Bennani Bennani,No,1995-01-20,30
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1043,No,Grup A,Toni Sánchez García,Sí,1999-08-09,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1216,No,Grup B,Marta Ferrer Ferrer,Sí,1951-06-01,74
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971,No,Grup A,Joan García,Sí,1959-04-11,66
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682,No,Grup A,Laia Ferrer Martínez,Sí,1980-11-11,44
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1699,Sí,Grup C,Jordi García,Sí,1984-05-23,41
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1217,No,Grup A,Clara Sánchez López,Sí,1952-08-01,73

LEVEL 2

Exercise 1:
1.Using the following DataFrame, append the "Increment" column to the dataframe at the previous level.
2.Update the salary column based on the percentages appended. Do not manually modify the increments, write Python code to do the necessary conversions.

In [103]:
import pandas as pd

df_increment = pd.DataFrame({
    "Grup": ["Grup A", "Grup B", "Grup C", "Grup D"],
    "Increment": ["5%", "3,5%", "2%", "8%"]
})

df_increment["Increment"] = df_increment["Increment"].str.replace("%", "").str.replace(",", ".").astype(float)
df_increment = df_increment.set_index("Grup")

df = df.merge(df_increment, left_on="Grup Professional", right_index=True, how="left")


df["Nou Salari"] = df["Salari mensual"] * (1 + df["Increment"] / 100)
df

,Nom,Cognoms,País d'origen,Ciutat,Dia,Mes,Any,Gènere,Salari mensual,Fills,Grup Professional,Nom Complet,Nascut a Espanya,Date de Naixament,Edat Actual,Increment,Nou Salari
DNI,,,,,,,,,,,,,,,,,
16928694K,Inês,Ferreira Silva,Portugal,Lisboa,25,2,1953,Dona,1144,No,Grup B,Inês Ferreira Silva,No,1953-02-25,72,3.5,1184.04
27724652S,Clara,Sánchez Martínez,Espanya,Barcelona,18,3,1996,Dona,1253,Sí,Grup A,Clara Sánchez Martínez,Sí,1996-03-18,29,5.0,1315.65
38141675A,Fatima,Fassi,Marroc,Rabat,6,11,2005,Altres,1441,Sí,Grup A,Fatima Fassi,No,2005-11-06,19,5.0,1513.05
59157262R,Khadija,Bennani Bennani,Marroc,Rabat,20,1,1995,Dona,1944,No,Grup B,Khadija Bennani Bennani,No,1995-01-20,30,3.5,2012.04
69630528M,Toni,Sánchez García,Espanya,Barcelona,9,8,1999,Home,1043,No,Grup A,Toni Sánchez García,Sí,1999-08-09,26,5.0,1095.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25161375F,Marta,Ferrer Ferrer,Espanya,Sevilla,1,6,1951,Dona,1216,No,Grup B,Marta Ferrer Ferrer,Sí,1951-06-01,74,3.5,1258.56
52145541P,Joan,García,Espanya,Sevilla,11,4,1959,Home,971,No,Grup A,Joan García,Sí,1959-04-11,66,5.0,1019.55
69760120X,Laia,Ferrer Martínez,Espanya,Barcelona,11,11,1980,Dona,682,No,Grup A,Laia Ferrer Martínez,Sí,1980-11-11,44,5.0,716.10
82947791W,Jordi,García,Espanya,Barcelona,23,5,1984,Home,1699,Sí,Grup C,Jordi García,Sí,1984-05-23,41,2.0,1732.98
89253307W,Clara,Sánchez López,Espanya,Bilbao,1,8,1952,Dona,1217,No,Grup A,Clara Sánchez López,Sí,1952-08-01,73,5.0,1277.85

Exercise 2:Using a loop, export the data for each Professional Group into 4 files (.xlsx or .csv format).
For example: "data_GroupA.xlsx", "data_GroupB.xlsx" ...
Export a 5th DataFrame in .xlsx or .csv format that contains how many workers there are for each Professional Group, what their average salary is, and what their median age is.

In [98]:
import pandas as pd

for group in df["Grup Professional"].unique():
    group_df = df[df["Grup Professional"] == group]
    filename = f"data_{group.replace(' ', '')}.xlsx" 
    group_df.to_excel(filename, index=False)
    print(f"{filename} file created")

summary_df = (
    df.groupby("Grup Professional")
      .agg(
          Worker_Count=("Grup Professional", "count"),
          Average_Salary=("Salari mensual", "mean"),
          Median_Age=("Edat Actual", "median")
      )
      .reset_index()
) 

summary_df.to_excel("data_summary.xlsx", index=False)
print("Exported data_summary.xlsx")

data_GrupB.xlsx file created
data_GrupA.xlsx file created
data_GrupD.xlsx file created
data_GrupC.xlsx file created
Exported data_summary.xlsx

LEVEL 3

Exercise 1:1.Create a function that takes a dataframe as an input parameter.
The function must create (and export) a graph automatically for each column of the dataframe. For example:
   -a histogram/boxplot if the variable is numeric
   -a few bars of the most frequent values ​​if it is categorical
   -a few bars of the most frequent years if the data is in date format.

In [99]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

def auto_graphs(df, output_folder="graphs"):
    os.makedirs(output_folder, exist_ok=True)
    for column in df.columns:
        plt.figure(figsize=(6, 4))
        
        # Drop missing values for the column
        data = df[column].dropna()
        
        # Detect column type and plot accordingly
        if pd.api.types.is_numeric_dtype(data):
            # Numeric variable → histogram and boxplot
            plt.subplot(2, 1, 1)
            sns.histplot(data, kde=True)
            plt.title(f"{column} - Histogram")

            plt.subplot(2, 1, 2)
            sns.boxplot(x=data)
            plt.title(f"{column} - Boxplot")

        elif pd.api.types.is_datetime64_any_dtype(data):
            # Date variable → most frequent years
            years = data.dt.year.value_counts().nlargest(10)
            sns.barplot(x=years.index, y=years.values)
            plt.title(f"{column} - Most Frequent Years")
            plt.xlabel("Year")
            plt.ylabel("Frequency")

        else:
            # Categorical variable → most frequent values
            top_values = data.value_counts().nlargest(10)
            sns.barplot(x=top_values.values, y=top_values.index)
            plt.title(f"{column} - Top 10 Most Frequent Values")
            plt.xlabel("Count")
            plt.ylabel(column)

        plt.tight_layout()
        save_path = os.path.join(output_folder, f"{column}.png")
        plt.savefig(save_path)
        plt.close()

    
    print(f"Graphs have been generated and saved in '{output_folder}' folder.")

if __name__ == "__main__":
    df_example = sns.load_dataset("penguins")

    auto_graphs(df_example)

Graphs have been generated and saved in 'graphs' folder.

2. Load the file matriu_distancies.xlsx into pandas, so that the row names and column names are those of the cities. Delete "Las Palmas de Gran Canaria" and "Palma" so that we can make the trip by car.

We are interested in visiting all the main cities in Spain covering the minimum possible            distance.
You don't have to do it optimally, we are interested in developing a reasonable solution using the tools you currently have.
For example, a simple (but not optimal) approach would be to always go to the nearest city that we haven't visited yet.
Make a function that, given the distance matrix and the city of origin, makes a route proposal that is as short as possible, returning a list with the order of visits. Also give the total distance traveled.
(EXTRA) From which city would the route be shortest with the proposed algorithm

In [100]:
import pandas as pd
df1 = pd.read_excel(r"C:\Users\esrak\Downloads\Sprint10\matriu_distancies.xlsx",index_col=0)
df1

,Barcelona,Valencia,Sevilla,Zaragoza,Málaga,Murcia,Palma,Las Palmas de Gran Canaria,Bilbao,Alicante,Córdoba,Valladolid,Vigo,Gijón,Hospitalet de Llobregat
Barcelona,NaN,303.0,831.0,256.0,770.0,471.0,206.0,2175.0,469.0,407.0,711.0,576.0,908.0,686.0,7.0
Valencia,303.0,NaN,541.0,246.0,468.0,177.0,260.0,1874.0,473.0,125.0,421.0,441.0,766.0,632.0,297.0
Sevilla,831.0,541.0,NaN,646.0,158.0,433.0,791.0,1355.0,703.0,495.0,121.0,486.0,588.0,685.0,824.0
Zaragoza,256.0,246.0,646.0,NaN,628.0,408.0,377.0,2001.0,246.0,368.0,535.0,320.0,652.0,444.0,250.0
Málaga,770.0,468.0,158.0,628.0,NaN,323.0,695.0,1406.0,739.0,391.0,133.0,549.0,716.0,766.0,763.0
Murcia,471.0,177.0,433.0,408.0,323.0,NaN,372.0,1723.0,606.0,69.0,320.0,510.0,800.0,726.0,465.0
Palma,206.0,260.0,791.0,377.0,695.0,372.0,NaN,2093.0,621.0,303.0,671.0,664.0,1000.0,820.0,204.0
Las Palmas de Gran Canaria,2175.0,1874.0,1355.0,2001.0,1406.0,1723.0,2093.0,NaN,2022.0,1792.0,1470.0,1790.0,1682.0,1925.0,2168.0
Bilbao,469.0,473.0,703.0,246.0,739.0,606.0,621.0,2022.0,NaN,583.0,618.0,232.0,486.0,223.0,465.0
Alicante,407.0,125.0,495.0,368.0,391.0,69.0,303.0,1792.0,583.0,NaN,379.0,515.0,821.0,722.0,401.0
Córdoba,711.0,421.0,121.0,535.0,133.0,320.0,671.0,1470.0,618.0,379.0,NaN,419.0,589.0,634.0,704.0
Valladolid,576.0,441.0,486.0,320.0,549.0,510.0,664.0,1790.0,232.0,515.0,419.0,NaN,337.0,224.0,570.0
Vigo,908.0,766.0,588.0,652.0,716.0,800.0,1000.0,1682.0,486.0,821.0,589.0,337.0,NaN,289.0,902.0
Gijón,686.0,632.0,685.0,444.0,766.0,726.0,820.0,1925.0,223.0,722.0,634.0,224.0,289.0,NaN,681.0
Hospitalet de Llobregat,7.0,297.0,824.0,250.0,763.0,465.0,204.0,2168.0,465.0,401.0,704.0,570.0,902.0,681.0,NaN

In [101]:
df1 = df1.drop(index=["Las Palmas de Gran Canaria", "Palma"], errors='ignore')
df1 = df1.drop(columns=["Las Palmas de Gran Canaria", "Palma"], errors='ignore')
df1

,Barcelona,Valencia,Sevilla,Zaragoza,Málaga,Murcia,Bilbao,Alicante,Córdoba,Valladolid,Vigo,Gijón,Hospitalet de Llobregat
Barcelona,NaN,303.0,831.0,256.0,770.0,471.0,469.0,407.0,711.0,576.0,908.0,686.0,7.0
Valencia,303.0,NaN,541.0,246.0,468.0,177.0,473.0,125.0,421.0,441.0,766.0,632.0,297.0
Sevilla,831.0,541.0,NaN,646.0,158.0,433.0,703.0,495.0,121.0,486.0,588.0,685.0,824.0
Zaragoza,256.0,246.0,646.0,NaN,628.0,408.0,246.0,368.0,535.0,320.0,652.0,444.0,250.0
Málaga,770.0,468.0,158.0,628.0,NaN,323.0,739.0,391.0,133.0,549.0,716.0,766.0,763.0
Murcia,471.0,177.0,433.0,408.0,323.0,NaN,606.0,69.0,320.0,510.0,800.0,726.0,465.0
Bilbao,469.0,473.0,703.0,246.0,739.0,606.0,NaN,583.0,618.0,232.0,486.0,223.0,465.0
Alicante,407.0,125.0,495.0,368.0,391.0,69.0,583.0,NaN,379.0,515.0,821.0,722.0,401.0
Córdoba,711.0,421.0,121.0,535.0,133.0,320.0,618.0,379.0,NaN,419.0,589.0,634.0,704.0
Valladolid,576.0,441.0,486.0,320.0,549.0,510.0,232.0,515.0,419.0,NaN,337.0,224.0,570.0
Vigo,908.0,766.0,588.0,652.0,716.0,800.0,486.0,821.0,589.0,337.0,NaN,289.0,902.0
Gijón,686.0,632.0,685.0,444.0,766.0,726.0,223.0,722.0,634.0,224.0,289.0,NaN,681.0
Hospitalet de Llobregat,7.0,297.0,824.0,250.0,763.0,465.0,465.0,401.0,704.0,570.0,902.0,681.0,NaN

In [102]:
def nearest_neighbor_route(distance_matrix, start_city):
    visited = [start_city]
    total_distance = 0.0
    current_city = start_city

    # While there are cities left to visit
    while len(visited) < len(distance_matrix):
        distances = distance_matrix.loc[current_city]
        remaining = distances.drop(visited)
        next_city = remaining.idxmin()
        dist_to_next = remaining.min()

        total_distance += dist_to_next
        visited.append(next_city)
        current_city = next_city

    # Return to the starting city (optional, if we want a round trip)
    total_distance += distance_matrix.loc[current_city, start_city]
    visited.append(start_city)

    return visited, total_distance

route, total_dist = nearest_neighbor_route(df1, "Valencia")

print("Route:", " -> ".join(route))
print(f"Total distance: {total_dist:.2f} km")

results = {}

for city in df1.index:
    r, d = nearest_neighbor_route(df1, city)
    results[city] = d

best_start = min(results, key=results.get)

print(f"The shortest total route starts in {best_start} ({results[best_start]:.2f} km).")

Route: Valencia -> Alicante -> Murcia -> Córdoba -> Sevilla -> Málaga -> Valladolid -> Gijón -> Bilbao -> Zaragoza -> Hospitalet de Llobregat -> Barcelona -> Vigo -> Valencia
Total distance: 3966.00 km
The shortest total route starts in Alicante (3541.00 km).